---
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursos</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="icon" href="/eve.svg" type="image/svg+xml">
  </head>
  <Header/>
  <body>
    <Hero/>
    <main>

    </main>
  </body>
  <Footer/>
<html/>